In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자<font></b>
# 5. 연산자
## 5.1.산술 연산자 : +, -, *, /(나누기의 결과는 늘 float), //(몫 연산자), %(나머지), **(제곱)

In [6]:
print('10*5승 =', 10**5)
print('5/2(결과는 무조건 실수) =', 5/2)
print('5//2(몫) =', 5//2)
print('5%2(나머지) =', 5%2)

10*5승 = 100000
5/2(결과는 무조건 실수) = 2.5
5//2(몫) = 2
5%2(나머지) = 1

In [7]:
# 정수끼리의 연산은 결과가 정수 (단 / 제외)
# 정수와 실수 또는 실수끼리의 연산 결과는 실수
print('4**2 =', 4**2)
print('4.0**2 =', 4.0**2)

4**2 = 16
4.0**2 = 16.0

In [10]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력 
num = int(input('정수를 입력하시오:'))
result = num % 2 # -1, 0, 1; 0이면 짝수
if result: #True
    temp = '홀수' # 임시 변수
else:
    temp = '짝수'
print('입력하신 수는 {}, 2로 나눈 나머지는 {}, 그러므로 {}를 입력하였습니다'.format(num, result, temp))

정수를 입력하시오:8
입력하신 수는 8, 2로 나눈 나머지는 0, 그러므로 짝수를 입력하였습니다

In [2]:
# quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input('정수를 입력하시오:'))
result = num % 5
if result:
    temp = '5의 배수가 아닙니다'
else:
    temp = '5의 배수입니다'
print('입력하신 수는 {}, 5로 나눈 나머지는 {}, 그러므로 {}'.format(num, result, temp))

정수를 입력하시오:9
입력하신 수는 9, 5로 나눈 나머지는 4, 그러므로 5의 배수가 아닙니다

In [1]:
# quiz 3. 국 , 영 , 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
kor = int(input('국어:'))
eng = int(input('영어:'))
mat = int(input('수학:'))
sum = kor + eng + mat
avg = sum / 3
print('국어: {:3d}\t영어: {:3d}\t수학: {:3d}'.format(kor, eng, mat))
print('총점: {:3d}\t평균:{:5.1f}'.format(sum, avg))

국어:99
영어:100
수학:99
국어:  99	영어: 100	수학:  99
총점: 298	평균: 99.3

## 5.2.할당 연산자 : =, +=, -=, /=, *=, //=, %=

In [3]:
a = 10
a += 5 # a = a+5 와 동일
print(f"a = {a}")

a = 15

In [4]:
a -= 5 # a = a-5
print('5빼기 :', a) # 10
a *= 10 # a = a*10
print('10배 :', a) # 100
a //= 5 # a = a//5
print('5나눈 몫 :', a)

5빼기 : 10
10배 : 100
5나눈 몫 : 20

## 5.3.논리 연산자 : &, and, |, or, not

In [10]:
# & : 논리 연산자, 비트 연산자
print((10>3) & (10>5)) # 논리 연산 True & True
print(12 & 1) # 비트 연산 1 1 0 0 (12) 
                       # 0 0 0 1 (1)
                    # &: 0 0 0 0   
print('{:4b}'.format(12))

True
0
1100

In [9]:
# and : 논리 연산자 (False로 판별되는 첫번째 항의 결과 반환)
        # 모든 항이 True면 마지막 항의 결과를 반환한다
print((10>3) and (10>5))
print(0 and 1)

True
0

In [13]:
# | : 논리 연산자, 비트 연산자 (문자 입력하면 에러 남)
result = True | False
print('논리 연산(연산자 앞뒤가 논리형일 때) :', result)
result = False | 3 # 무조건 비트 연산: 0000 (0) 
                                   # 0011 (3)
print('비트 연산(연산자 앞이나 뒤가 숫자일 때) :', result)

논리 연산(연산자 앞뒤가 논리형일 때) : True
비트 연산(연산자 앞이나 뒤가 숫자일 때) : 3

In [17]:
# or : 논리 연산자 (True로 판별되는 첫번째 항의 결과 반환)
                    # 모든 항이 거짓이면 마지막 항의 결과를 반환한다
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])

[]
Hong

In [18]:
not 10>5

False

## 5.4.비교 연산자 : >, >=, <, <=, ==, !=(다르다)

In [22]:
# 비교 연산자는 이항, 삼항, 사항,... 다항 연산자
x = 95
print((90<=x) & (x<=100))
print(90 <= x <= 100)
print(90 <= x <= 100 > 10)

True
True
True

In [25]:
# 비교 연산자의 우선 순위가 비트 연산자(|, &)의 우선 순위보다 낮다
print((10>5) & (10>7))
print(10>5 & 10>7) # 괄호가 없으면 우선 순위가 높은 5 & 10 부터 실행됨 
# 0101(5) & 1010(10) == 0
print(10> 0 >7)

True
False
False

In [27]:
address = '목동'
age = 29
print((address=='목동') & (age<=30))
print(address=='목동' and age<=30) # 논리 연산자인 and 가 비교 연산자보다 우선 순위가 낮다

True
True

In [29]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
'scott' < 'tiger'

True

In [28]:
'김길동' < '홍길동'

True

## 5.5.비트 연산 : &, |, ^(XOR), ~(반대)
XOR : 같으면 0, 다르면 1
```
x   y   x&y   x|y   x^y   ~x
-----------------------------
0   0    0     0     0     1
0   1    0     1     1     1
1   0    0     1     1     0
1   1    1     1     0     0

```

In [13]:
a = 15 # 1111(8+4+2+1)
b = 2 # 0010
print('  a ={0:2} : {0:04b}'.format(a))
print('  b ={0:2} : {0:04b}'.format(b))
print('a&b ={0:2} : {0:04b}'.format(a&b))
print('a|b ={0:2} : {0:04b}'.format(a|b))
print('a^b ={0:2} : {0:04b}'.format(a^b))

  a =15 : 1111
  b = 2 : 0010
a&b = 2 : 0010
a|b =15 : 1111
a^b =13 : 1101

# 6. 문자열 다루기
- 문자열 변수[from:to:step] : 일부 문자 추출

함수:
- len(문자열 변수) : 문자 수
- upper() : 대문자로 변환
- lower() : 소문자로 변환
- title() : 한 어절의 앞 글자만 대문자로 변환
- capitalize() : 첫 문자만 대문자로
- count('찾을문자'): '찾을문자'가 몇 개 들어 있는지 개수를 반환
- **find('찾을문자') : '찾을문자'가 왼쪽에서부터 몇 번째에 있는지 index 반환 (없으면 -1을 반환)**
- rfind('찾을문자') : '찾을문자'가 오른쪽에서부터 몇 번째에 있는지 index를 반환 (없으면 -1을 반환)
    
    cf. index('찾을문자') : '찾을문자'가 왼쪽부터 몇 번째에 있는지 index를 반환 (없으면 에러를 반환)

- startswith('특정문자') : '특정문자'로 시작하는지 여부 반환
- endswith('특정문자') : '특정문자'로 끝나는지 여부 반환

- strip() : 좌우 공백 제거(java, c, oracle >> trim)
- lstrip() :왼쪽 공백 제거
- rstrip() : 오른쪽 공백 제거
- **split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환**
- isdigit() : 문자열이 숫자 문자열인지 여부 반환
- islower() : 문자열이 소문자인지 여부 반환 (True | False)
- isupper() : 문자열이 대문자인지 여부 반환 (True | False)
- **replace(oldStr, newStr) : oldStr을 newStr로 변경**

In [7]:
int('1,000'.replace(',', ''))

1000

In [2]:
temp = 'python is easy. python is smart. python'
temp, len(temp)

('python is easy. python is smart. python', 39)

In [3]:
print('대문자로 :', temp.upper())
print('소문자로 :', temp.lower())
print('Title() :', temp.title())
print('capitalize() :', temp.capitalize())
print('python이 몇 번 나오는지 :', temp.count('python'))
print('대소문자 구분 없이 python이 몇 번 :', temp.lower().count('python'))
print('대소문자 구분 없이 python이 몇 번 :', temp.upper().count('PYTHON'))
print('대소문자 구분 없이 python이 몇 번 :', temp.title().count('Python'))
print('c가 몇 번 나오는지 :', temp.count('c'))
print('python이 나오는 첫 index 위치 :', temp.find('python'))
print('python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('c가 나오는 index 위치 :', temp.find('c')) # 찾는 문자가 없을 경우 -1을 반환
print('python이 나오는 첫 index 위치 : ', temp.index('python')) # index 함수의 경우 찾는 문자가 없을 경우 에러를 반환
print('python으로 시작하는지 여부 :', temp.startswith('python'))
print('대소문자 구분 없이 python으로 시작하는지 여부 :', temp.lower().startswith('python'))
print('python으로 끝나는지 여부 :', temp.endswith('python'))
print('n으로 끝나는지 여부 :', temp.endswith('n'))
print('python을 R로 변경 :', temp.replace('python', 'R'))
print(temp)

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
Title() : Python Is Easy. Python Is Smart. Python
capitalize() : Python is easy. python is smart. python
python이 몇 번 나오는지 : 3
대소문자 구분 없이 python이 몇 번 : 3
대소문자 구분 없이 python이 몇 번 : 3
대소문자 구분 없이 python이 몇 번 : 3
c가 몇 번 나오는지 : 0
python이 나오는 첫 index 위치 : 0
python이 나오는 마지막 index 위치 : 33
c가 나오는 index 위치 : -1
python이 나오는 첫 index 위치 :  0
python으로 시작하는지 여부 : True
대소문자 구분 없이 python으로 시작하는지 여부 : True
python으로 끝나는지 여부 : True
n으로 끝나는지 여부 : True
python을 R로 변경 : R is easy. R is smart. R
python is easy. python is smart. python

In [47]:
temp = '    python is easy    '
notdigit = '1,000'
print('좌우 공백 제거 :[{}]'.format(temp))
print('좌우 공백 제거 :[{}]'.format(temp.strip()))
print('왼쪽 공백 제거 :[{}]'.format(temp.lstrip()))
print('오른쪽 공백 제거 :[{}]'.format(temp.rstrip()))
print('isdigit(숫자문자)인지 여부 :', notdigit.isdigit())
print('1,000을 1000으로 변환 :', notdigit.replace(',', ''))
print('replace 후 isdigit(숫자문자)인지 여부 :', notdigit.replace(',', '').isdigit())
print('대문자인지 여부 :', temp.isupper())
print('소문자인지 여부 :', temp.islower())

좌우 공백 제거 :[    python is easy    ]
좌우 공백 제거 :[python is easy]
왼쪽 공백 제거 :[python is easy    ]
오른쪽 공백 제거 :[    python is easy]
isdigit(숫자문자)인지 여부 : False
1,000을 1000으로 변환 : 1000
replace 후 isdigit(숫자문자)인지 여부 : True
대문자인지 여부 : False
소문자인지 여부 : True

In [50]:
names = '홍길동 김길동 박길동 주길동 고길동'
name_list = names.split()
print('space 단위로 names 분리(list로 반환) :', name_list)
print(name_list[0], name_list[1])

space 단위로 names 분리(list로 반환) : ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동

In [55]:
date_str = '2025-09-17'
date_list = date_str.split('-')
print(date_list)
print('년도 :', date_list[0])
print('월 :', date_list[1])
print('일 :', date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [57]:
# str_ = 'ABC'
str = ['A', 'B', 'C']
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [66]:
# ' - '을 '/'로 바꾸기
temp = 'Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML - LLM(RAG)'
# temp.replace(' - ', '/')
# split()와 join()을 사용하여 replace 역할 대체
splited_temp = temp.split(' - ')
splited_temp
print('splited  temp :', splited_temp)
joined_temp = '/'.join(splited_temp) #'/'로 매개변수 list를 연결
print('joined temp :', joined_temp)

splited  temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML', 'LLM(RAG)']
joined temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML/LLM(RAG)

In [67]:
# 문자열을 다룰 수 있는 함수 목록
dir(str)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# 7. 시간, 날짜 다루기

In [90]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [91]:
# datetime 모듈(datetime.py) 안의 아래 세 가지만 load
from datetime import datetime, date, time

## 7.1.시간과 날짜

In [71]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [73]:
# 날짜를 문자열로 전환
print('{:%y년%m월%d일(%A) %H:%M:%S}'.format(thatday))
print(thatday.strftime('%y년%m월%d일(%A) %H:%M:%S'))
print(thatday.ctime()) #ctime() : 영어권 화자가 읽기 쉬운 형태로 convert

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [77]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime('%Y년%m월%d일 %p %I:%M:%S'))

2025-09-17 14:24:09.414572
Wed Sep 17 14:24:09 2025
2025년09월17일 PM 02:24:09

In [79]:
diff = now - thatday
print(diff)
print(diff.days)

6 days, 4:54:09.414572
6

## 7.2.날짜

In [80]:
# 특정한 날짜를 갖는 date 객체 생성
oneday = date(2025, 9, 11)
oneday

datetime.date(2025, 9, 11)

In [85]:
print(oneday)
print(oneday.strftime('%Y년 %m월 %d일 %H:%M'))

2025-09-11
2025년 09월 11일 00:00

In [86]:
# 오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [87]:
print(today1.strftime('%Y년 %m월 %d일 %H:%M'))
print(today2.strftime('%Y년 %m월 %d일 %H:%M'))

2025년 09월 17일 00:00
2025년 09월 17일 00:00

In [89]:
diff = oneday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3.시간

In [92]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [94]:
print(t.strftime('%p %I:%M'))

PM 02:39

In [96]:
# print(t.strftime('%Y년 %m월 %d일 %p %I:%M'))
print(t.strftime('%p %I:%M'))

PM 02:39

In [99]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:46:33.864287

# 8. 연습 문제

In [15]:
#1. 이름과 나이 변수를 다음 형식으로 출력하도록 format()함수를 이용해 형식화하시오
#[출력형식 : 홍길동님의 나이는 23 살입니다]
name = '홍길동'
age = 23
print('[{}님의 나이는 {}살입니다]'.format(name, age))

[홍길동님의 나이는 23살입니다]

In [6]:
#2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
first_int = int(input('첫번째 정수를 입력하시오: '))
second_int = int(input('두번째 정수를 입력하시오: '))
sum = first_int + second_int
subtraction = first_int - second_int
multiplication = first_int * second_int
division = first_int / second_int
quotidient = first_int // second_int
remainder = first_int % second_int
print(sum, subtraction, multiplication, division, quotidient, remainder)
print('합 :', sum)
print('차 :', subtraction)
print('곱 :', multiplication)
print('나눔 :', division)
print('몫 :', quotidient)
print('나머지 :', remainder)

첫번째 정수를 입력하시오: 87
두번째 정수를 입력하시오: 26
113 61 2262 3.3461538461538463 3 9
합 : 113
차 : 61
곱 : 2262
나눔 : 3.3461538461538463
몫 : 3
나머지 : 9

In [20]:
#3. 문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요
text = 'Hello World'
print(text.split())
splited_text = text.split()
print(' '.join(splited_text[::-1]))

['Hello', 'World']
World Hello

In [19]:
#4. x = 'abcdef'를 이용하여 'bcdefa' 로 출력하세요 (문자 슬라이싱이용)
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [8]:
#5. x = 'abcdef' 를 이용하여 'fedcba' 로 출력하세요
x = 'abcdef'
print(x[-1::-1])

fedcba

In [25]:
#6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 
#화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다. 
#다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,F 는 화씨
C = (F - 32) / 1.8
F = (C * 1.8) + 32
C = int(input('오늘의 온도는 (섭씨)? '))
F = C * 1.8 + 32
if F % 1 == 0:
    print('오늘의 온도는 (화씨) :','{:.0f}'.format(F))
else:    
    print('오늘의 온도는 (화씨) :', '{:.2f}'.format(F))

오늘의 온도는 (섭씨)? 21
오늘의 온도는 (화씨) : 69.80

In [24]:
#7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
#① for
#② 10th
#③ Student.name
#④ _1234
#1(제어문), 2(숫자로 시작하면 안됨), 3(가운데의 점 제거 필요)

In [12]:
#8. 
text = 'Seoul A001 - programming with python'
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [13]:
#9. 답 == 2번 (8/2 의 결과는 파이썬에서 실수 4.0)

In [14]:
#10. 답 == 에러 발생 (숫자와 문자의 연산은 불가능)

In [3]:
# 11. split() 함수를 이용하여 str_ 의 값 중 '나라' 를 출력하는 프로그램을 완성하시오
str_ = '우리 나라 대한 민국'
print(str_.split())
str_list = str_.split()
print(str_list[1])

['우리', '나라', '대한', '민국']
나라