In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>
    
# 1. 변수 (종속변수, 독립변수, 매개변수 등)
- 변수: 프로그햄 작업 처리를 위해 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고 별도의 선언 과정도 없음
    
## 1.1.변수 할당
- 할당 연산자 (=)를 이용해서 값을 할당하면 자료형(타입)이 설정됨
- **파이썬에서의 모든 변수는 객체로 저장**

In [2]:
r = 5 # 오른쪽 값을 왼쪽에 할당
area = 3.14 * r * r
print('넓이 :', area) # 괄호 > ~를 (함수)하라

넓이 : 78.5

In [16]:
import numpy as np #numpy 패키지를 np라는 이름으로 사용
area = np.pi * r * r # . > np 안에 있는 pi 값을 불러오기를 실행
print ('넓이 :', area)

넓이 : 78.53981633974483

In [12]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2768962716464
area의 타입 : <class 'str'>

In [9]:
area.is_integer()

False

In [13]:
area = 1
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2768846061808
area의 타입 : <class 'int'>

In [14]:
area = "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2768962718384
area의 타입 : <class 'str'>

## 1.2.변수(함수) 이름 규칙
**- 문자로 시작**
- 문자(특수문자는 _ 외에는 불가), 숫자 혹은 _로 변수명 작성
- 함수명은 변수명으로 가능하나 피하고 꼭 써야 한다면 str_ 형태로 사용
- 파이썬 예약어(for, if,...)는 변수명으로 사용 불가
- 한국어로 된 변수명은 꼭 필요시에만 사용
- 두 단어는 _로 연결 혹은 두 번째 단어 첫 문자를 대문자로 #member_name; memberName

In [18]:
# 숫자 : 정수, 실수, 복소수
i = 1 + 3j #복소수
print(type(i))

<class 'complex'>

In [21]:
isinstance(i, complex) # i 변수가 complex 타입의 객체인지를 판단

True

In [22]:
isinstance(i, int) # i 변수가 int 타입의 객체인지를 판단

False

## 1.3.다중 변수 선언

In [23]:
a = 10
b = 20

In [24]:
a, b = 10, 20
print(a, b)

10 20

In [31]:
a, b = b, a+b # 다중 변수 할당시 순차적 할당이 아니고 일괄 동시 할당 (entsprechende Zuweisungen erfolgen nicht konsekutiv, sondern simultan!)
print(a, b) # 3번 실행함 (drei Wiederholungen)

50 80

## 1.4.도움말

In [27]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [29]:
help() #help를 빠져 나오려면 q를 입력 & Esc + o로 결과를 보거나 접기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> ㅂ
No Python documentation found for 'ㅂ'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [33]:
# 도움말 기능 : shift + tab 키 
# print(shift + tab 키 1회 혹은 2회)
print()

In [34]:
def add(x, y=0):
    '''
    매개 변수 (x, y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자릿수가 되고
    y = 1의 자릿수가 됨(default값 = 0)
    '''
    return x*10 + y

In [35]:
add(3, 4)

34

In [36]:
add(3)

30

# 2. 화면i/o

In [37]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 !문자(str)!로 받음
first = input()
print(first)

아무거나
아무거나

In [38]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?7
두번째 숫자는?3

In [40]:
print('두 수의 합은', first+second)

두 수의 합은 73

In [41]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?7
두번째 숫자는?3

In [42]:
print('두 수의 합은', first+second)

두 수의 합은 10

In [45]:
print('first', first, 'second', second, sep=' - ', end='\t')
print('Hello', 'Python', sep=' ')

first - 7 - second - 3	Hello Python

In [46]:
print('first', first, 'second', second, sep=' - ', end='\n')
print('Hello', 'Python', sep=' ')

first - 7 - second - 3
Hello Python

# 3. 기본 자료형
- 자료형: 변수가 가져야 할 값의 형식 (자료형에 따라 값의 크기와 저장 방식이 달라짐)
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
    - 숫자 : int(4), float(4.0), complex(허수부 j)
    - 문자 : str('', "")
    - 논리 : bool(True/False)

## 3.1.숫자형

In [1]:
import sys
print(sys.maxsize) # 정수의 최대값 : 2**63 - 1

9223372036854775807

In [2]:
2**63 - 1

9223372036854775807

In [5]:
i = sys.maxsize + 100
i

9223372036854775907

In [6]:
print(type(i))

<class 'int'>

In [9]:
f = 1.2e-20 # 지수형 1.2*10의 -20승
f
b = 1.2e20 # 지수형 1.2의 10의 20승
print(b)

1.2e+20

In [11]:
# 파이썬에서는 /의 결과는 무조건 실수 
f = 4/2
print('f =', f)

f = 2.0

In [16]:
#  자바, c, c++처럼 정수/정수 결과를 정수로
f = int(3/2) # int() : int로 형 변환 (내림)
print('f =', f)

f = 1

In [15]:
f = 3//2 # 몫 연산자
print('f =', f)

f = 1

## 3.2.문자형
겹따옴표나 홑따옴표 사용

In [17]:
name = "홍길동'짱'" # 홍길동'짱'

In [18]:
print(name)

홍길동'짱'

In [19]:
address = '서울시 관악구 "신림"동'
print(name, address)

홍길동'짱' 서울시 관악구 "신림"동

In [22]:
# escape 문자(탈출문자) : \n, \t
text = '여러 줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 됨\n줄바꿈'
print(text)

여러 줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

In [24]:
text = '''여러 줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''
print(text)

여러 줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

### ※ 문자열 연산(+, *)

In [25]:
"""
    여러 줄 주석 용도
    2025.09.12 문자열 연산 by 아무개
"""
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)

홍길동동해번쩍

In [26]:
print(name1 * 3)

홍길동홍길동홍길동

In [29]:
print(name2 * 3)

동해번쩍동해번쩍동해번쩍

### ※ raw 데이터
- 용도 : 정규 표현식 이용, 디렉토리 경로를 표현 시 사용

In [11]:
# raw 데이터 : 데이터 처리 시 탈출문자(\n, \t, \', \")를 그대로 저장
print(r'Hello\nWorld')

Hello\nWorld

정규 표현식(regex)

    1. 참조 : https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D
    2. 간략문법
        \d (숫자와 매치) > [0-9]와 동일
        \D (숫자가 아닌 것, 공백 포함)
        \w (영문자와 숫자, 공백 제외) [a-zA-Z0-9]와 동일) 
        \W (영문자도 숫자도 아닌 문자, 공백 포함)
        \s 공백
        \S 공백 제외 모든 문자
         . (\n 제외 모든 문자 1개, \n도 dotall로 포함 가능)
        \. (.)
        \- (-)
        {2,} (2번 이상 반복)
        {2,4} (2~4회 반복)
        ? (0번이나 1번을 의미)
        + (1번 이상 반복)
        * (0번 이상 반복)
    3. 정규 표현식 연습장 : https://regexr.com/
        ex1. 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999 / 02)999-9999
        => 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
        ex2. 이메일 : abc12@naver.com / abc12@sns.co.kr
        => \w+@\w+(\.\w+){1,2}
        ex3. 주민번호 : 981212-1052525
        => \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|30|31)-[1-4]\d{6}
    4. 소스 구현

In [2]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 \
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 혈액형:Bㅋㅋ ㅋㅋzz

In [3]:
# 정규 표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나 
# 실수를 줄이고 가독성을 높이는 용도로 raw데이터 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) # 해당 패턴을 다 찾아줌. 없으면 빈 list를 반환함
tels

['02-888-8888', '010-9999-9999']

In [4]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [5]:
# 정규 표현식 패턴과 처음 match되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [6]:
print(data[18:29]) #문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [7]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern, data)
firstPhone

In [8]:
print('전체 전화번호 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝 번호 :', firstPhone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝 번호 : 8888

In [12]:
# data에서 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", ' ', data)

'이름 홍길동  주소 서울  전화 02 888 8888  핸드폰 010 9999 9999  특징 동해번쩍 서해번쩍 혈액형 B       '

In [13]:
# data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ', data)

'이름:홍길동, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍 혈액형:Bㅋㅋ ㅋㅋzz'

In [14]:
# 파일 경로
file_path = r"C:\KI\source\01_python\data\ch02.txt"
# file_path = "C:\\KI\\source\\01_python\\data\\ch02.txt"
# file_path = "C:/KI/source/01_python/data/ch02.txt"

In [19]:
file_stream = open(file_path, "w")
print("Hello, Python.", "Hello, World", sep = "\n") # 화면 출력
print("Hello, Python.", "Hello, World", sep = "\n", file = file_stream) # 파일 출력
file_stream.close() #close하지 않으면 저장이 안 됨

Hello, Python.
Hello, World

### ※ 문자열 인덱싱

In [21]:
str_ = '0123456789'
str_

'0123456789'

In [24]:
str_[0], str_[2], str_[-1], str_[-3] # 음수 인덱싱은 맨 마지막이 -1

('0', '2', '9', '7')

In [25]:
str_[10] # 없는 인덱싱은 에러가 남

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [30]:
'''
문자열 변수[from:to] : from부터 to앞까지 추출
문자열 변수[from:to:step] : from부터 to앞까지 step씩 전진하면서 추출
    from 생략 시 처음부터
    to 생략 시 끝까지
    step 생략 시 step의 기본값은 1
'''
str_[:3], str_[0:3] # from 생략 시 처음부터

('012', '012')

In [31]:
str_[5:10], str_[5:] #to 생략 시 끝까지

('56789', '56789')

In [32]:
str_[-5:-1] #-5번째부터 -1번째 앞까지

'5678'

In [27]:
str_[2:6]

'2345'

In [28]:
str_[0:10:2]

'02468'

In [34]:
str_[9:0:-1] #step에 음수가 오면 9번째부터 0번째 앞까지 -1씩 전진 추출

'987654321'

In [36]:
# quiz : 마지막 글씨부터 처음 글씨까지 거꾸로 출력 9876543210
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3.논리형(True / False)

In [39]:
a = 10 > 5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [40]:
int(True)

1

In [41]:
int(False)

0

In [45]:
bool(1), bool(0), bool(""), bool("김길동"), bool(" ")

(True, False, False, True, True)

In [46]:
# False로 간주되는 것 : 0, ""(빈 스트링), [](빈 리스트), ()(빈 튜플), {}(빈 딕셔너리), None
# False로 판별되는 경우를 제외하고는 모두 True

In [50]:
if None:
    print("True")
else:
    print('False')

False

In [52]:
name = input("이름은?")
if name: #name이 빈 스트링이 아니면
    print('당신 이름은', name)
else:
    print('이름을 입력하지 않았습니다')

이름은?
이름을 입력하지 않았습니다

## 3.4.자료형 확인 및 형 변환 함수
- type(변수)
- isinstance(변수, 타입) : 변수가 해당 타입인지 여부
- float() :  실수형으로 변환
- int() : 정수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [53]:
float(4), float("4.1"), int(4.9), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [54]:
# 에러가 나는 경우
# int(""); # int(" "); # int(None); int("123.9"); int("5,000")

# 4. 포맷팅
- 포맷팅: 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
## 4.1.문자열에 형식 지정

In [55]:
name = "홍길동"
age = 30
print(name + '님의 나이는 ' + str(age) + '살입니다')
print(name, '님의 나이는 ', age, '살입니다', sep='')

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [60]:
print("%s님의 나이는 %d살입니다"%(name, age)) # 가장 안 쓰는 방법! (&s: 문자,. %d: 십진수, %f: 실수)
print(f"{name}님의 나이는 {age}살입니다")

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [64]:
# 가장 많이 쓰이는 방법
print("{}님의 나이는 {}살입니다".format(name, age))
print("{0}님의 나이는 {1}살입니다".format(name, age))
print("{1}님의 나이는 {0}살입니다".format(age, name))

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

## 4.2.format() 문법
- '{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}'.format(변수명) # []는 여기서는 생략 가능함을 의미

    * 인덱스 : format 함수 안의 매개변수 순서
    * 정렬방식 : <(l.), >(r.), ^(m.), =(padding alignment)
    * 정수 자릿수 : 출력할 자릿수
    * 실수 자릿수 : 전체 출력될 자릿수 (변수 중에 출력할 자릿수)
    * 타입 : d(십진수), o(8진수), x(16진수), b(2진수), f(실수), s(문자)
    * 공백대체문자는 정렬방식을 명시하며 함

In [66]:
a = 12345 # 숫자의 경우 오른쪽 정렬이 기본
s = 'Hello' # 문자의 경우 왼쪽 정렬이 기본
print("[{0}] [{0:10}] [{0:3}]".format(a)) # 변수보다 작은 자릿수를 지정하면 지정한 자릿수가 무시되고 모두 다 출력됨
print("[{0}] [{0:10}] [{0:3}]".format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [67]:
# 정렬 방식 : <, ^, >
a, b, c = 10, 20, 3
print("[{:<4}] [{:^4}] [{:>4}]".format(a, b, c))

[10  ] [ 20 ] [   3]

In [83]:
# 실수 자릿수 ex. 10.2f: 전체 10자리 소수점 2자리 / 6.2f : 전체 6자리 중 2자리 출력
a = 10
f = 12.569
s = 'Hello'
print("[{:$>6.2f}] [{:6.2f}] [{:_>6.2}]".format(a, f, s))
# 공백대체문자를 쓸 경우 반드시 정렬방식을 지정하지 않으면 에러가 남

[$10.00] [ 12.57] [____He]

In [82]:
# 자릿수 앞에 +를 붙이면 양수의 경우도 부호를 출력
# 부호나 소수점도 자릿수에 포함
a, b = 123, -123
print("[{:+10}], [{:+10}], [{:10}]".format(a, b, a))
print("[{:=10}], [{:=10}], [{:10}]".format(a, b, a))
print("[{:=+10}], [{:=+10}], [{:10}]".format(a, b, a))

[      +123], [      -123], [       123]
[       123], [-      123], [       123]
[+      123], [-      123], [       123]

In [85]:
# 10진수, 8진수, 16진수, 2진수 출력
a = 15
print('10진수 [{:4d}]'.format(a))
print('8진수 [{:4o}]'.format(a))
print('16진수 [{:4x}]'.format(a))
print('2진수 [{:4b}]'.format(a))

10진수 [  15]
8진수 [  17]
16진수 [   f]
2진수 [1111]

In [95]:
a = 2.785
print('[{:+10.4f}]'.format(a))
sign1 = '+'
width1 = 10
precision1 = 4
print('[{:{}{}.{}}]'.format(a, sign1, width1, precision1))
print('[{:{sign}{width}.{precision}}]'.format(a, sign=sign1, width=width1, precision=precision1))

[   +2.7850]
[    +2.785]
[    +2.785]

## 4.3. 날짜 출력

In [2]:
# import datetime # datetime 모듈 (파이썬 프로그램 파일 datetime.py) 전체가 메모리에 load됨
from datetime import datetime # datetime 모듈 안의 datetime 함수만 메모리에 load됨
thatday1 = datetime(2025, 9, 11) # 25년 9월 11일 0시 0분 0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0)
thatday1

datetime.datetime(2025, 9, 11, 0, 0)

In [3]:
print('{}'.format(thatday1))

2025-09-11 00:00:00

In [4]:
# Y(년도 4자리), y(년도 2자리), m(월) d(일) A(요일) p(am/pm) I(12시간) H(24시간) M(분) S(초)
print('{:%y년 %m월 %d %H시 %M분 %S초}'.format(thatday1))
print('{:%y년 %m월 %d %p %I시 %M분 %S초}'.format(thatday2))

25년 09월 11 00시 00분 00초
25년 09월 11 PM 02시 30분 00초

In [114]:
# 위의 방법보다는 더 많이 자주 쓰임
thatday1.strftime('%y년 %m월 %d %H시 %M분 %S초')

'25년 09월 11 00시 00분 00초'

In [105]:
thatday2.strftime('%y년 %m월 %d %p %I시 %M분 %S초')

'25년 09월 11 PM 02시 30분 00초'

In [116]:
# 현재 날짜와 시간
# datetime(2025, 9, 11, 14, 30) : 특정한 날짜와 시간
now = datetime.now() # 지금
now - thatday1 # 날짜형 변수끼리의 연산 가능하려면 datetime 함수를 써야 한다
now - thatday2
print(now-thatday1, now-thatday2)

4 days, 15:10:18.077654 4 days, 0:40:18.077654

In [109]:
print(now)

2025-09-15 14:55:19.748214

In [111]:
# 지금(날짜와 시간)을 원하는 스타일로 출력
print('{:%Y-%m-%d %p %I:%M}'.format(now))
print(now.strftime('%Y-%m-%d %p %I:%M')) # 가장 많이 씀

2025-09-15 PM 02:55
2025-09-15 PM 02:55

In [112]:
# 지금을 문자열로 전환하는 함수
from time import strftime
strftime('%Y-%m-%d %p %I:%M')

'2025-09-15 PM 02:59'