In [4]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터 구조<font></b>
- 리스트[80,20], 튜플(90,20), 딕셔너리{'name':'홍', 'score':99}, 셋{10, 20}

# 1. 리스트
## 1.1.리스트 만들기
- []를 사용하여 만들며 여러 개의 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수 사용도 가능
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨 마지막 인덱스는 -1 (리스트에서 인덱싱 가능)
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원
- 같은 데이터 중복 입력 가능

In [8]:
fruits = 'banana' # 스칼라 데이터
fruits = ['banana', 'apple', 'orange', 'grape'] # 리스트
fruits[0] = 'pineapple' 
fruits[0] = 'banana'
fruits # 리스트는 수정 가능하나 튜플은 에러 나서 불가능

['banana', 'apple', 'orange', 'grape']

In [9]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [10]:
type(fruits)

list

In [11]:
print(fruits[0]) # 인덱싱을 이용한 읽기 가능. 없는 인덱싱 시 에러 발생

banana

In [12]:
fruits[0] = 'mango' # 인덱싱을 이용한 쓰기(수정) 가능
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [15]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print('x={}'.format(x))
print(f'y={y}')
print(f'z={z}')

x=mango
y=apple
z=orange

In [17]:
# range(from, to, by) : from부터 to 앞까지 by씩 증가하는 나열 가능한 자료
        # 숫자를 순차적으로 사용할 수 있게 함
        # from 생략시 0, by 생략 시 1
range(0, 10, 1)
range(10) # [0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [24]:
for i  in [0, 1, 2]:
    print(i)

0
1
2

In [25]:
for i  in range(3):
    print(i)

0
1
2

In [30]:
fruits = ['mango', 'apple', 'orange']
# print('{}번째 과일은 {}'.format(0, fruits[0]))
# print('{}번째 과일은 {}'.format(1, fruits[1]))
# print('{}번째 과일은 {}'.format(2, fruits[2]))
for idx in range(len(fruits)):
    print('{}번째 과일은 {}'.format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [32]:
list(enumerate(fruits)) # enumerate: "auflisten"

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [36]:
for i, fruit in enumerate(fruits): # [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f'{i}번째 과일은 {fruit}')

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [39]:
for fruit in fruits:
    print(f'{fruit}입니다')

mango입니다
apple입니다
orange입니다

In [46]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', [2,3], [4,5,6]]
numbers[2], numbers[4][1] # 추출 방식 merken!

('2', 5)

In [96]:
# 2차원 리스트
numbers = [1,2,3,4,5]
            # 0열 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5], # 0행
              [10,20,30,40,50], # 1행
              [1,3,5,7,9], # 2행
              [2,4,6,8,10]] # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [97]:
# 특정 행, 특정 열 데이터 인덱싱
print(numbers_2d[1][4])

50

In [98]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [99]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [100]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j : 열
        print(f'{i}행{j}열 : {numbers_2d[i][j]}', end='\t')
    print() #개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [101]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [102]:
# 위와 같은 결과를 enumerate를 사용하여 다른 방식으로 도출
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [105]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print('{}행{}열 : {}'.format(i, j, numbers_2d[i][j]), end='\t')
    print() #개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2.기본 정보 조회

In [64]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [59,100,130]]

In [65]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [67]:
# 최솟값, 최대값
# 2차원 list의 최소/최댓값 : 부분 리스트 중 첫 항목이 가장 작은 값/ 가장 큰 값
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [69]:
# list의 데이터가 문자일 경우 ASCII 코드 값으로 min과 max가 적용됨
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [75]:
# 정렬하기 (동일 자료형)
numbers = [1,12,3,4,5]
print('오름차순 정렬 :', sorted(numbers))
print('내림차순 정렬 :', sorted(numbers, reverse=True))
print('합 :', sum(numbers))
print('평균 :', sum(numbers)/len(numbers))
print('sorted 함수 사용 시 리스트의 내용은 바뀌지 않음 :', numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용 시 리스트의 내용은 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3. 요소 추가

- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- `append()` : 요소 맨 뒤에 추가
- `extend(리스트)` : 리스트를 요소별로 맨 뒤에 추가
- `insert(idx, insert할 값)` : idx번째 인덱스 위치에 값을 추가

In [76]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [77]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [78]:
numbers.append(4) # 맨 뒤 인덱스에 4를 추가
numbers

[1, 2, 3, 4]

In [79]:
numbers.append([5,6,7])
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [80]:
numbers = [1, 2, 3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4, 5, 6 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [81]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [82]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [84]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [88]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1, 'xx') # 1번째 인덱스에 추가됨
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4.(리스트에서의) 인덱싱과 요소 개수
- 변수[index] : index를 이용한 접근
- index(찾을 데이터) : 해당 데이터가 있는 요소의 index를 반환
- 찾을 데이터 in list 변수 : 찾을 데이터가 리스트 변수의 요소인지 여부를 알아냄
- count(찾을 데이터) : 리스트에서 해당 데이터의 개수 반환

In [121]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count([1, 2, 3])

(2, 1)

In [122]:
numbers.count(5)

0

In [123]:
print(2 in numbers) # 찾을 데이터 in list 변수 : 찾을 데이터가 리스트 변수의 요소인지 여부를 알아냄
print(5 in numbers)

True
False

In [124]:
numbers.index(5)

ValueError: 5 is not in list

In [125]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되어 있지 않습니다')

5가 요소에 포함되어 있지 않습니다

In [126]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되어 있지 않습니다')

5가 요소에 포함되어 있지 않습니다

In [132]:
def safe_index(lst, item):
    '''첫번째 매개변수 list에서 item요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환'''
    if item in lst:
        return lst.index(item)
    return -1

In [5]:
from lst import safe_index # lst.py 모듈 안의 safe_index를 메모리에 load 
numbers = [1, 2, 3]
safe_index(numbers, 5), safe_index(numbers, 2)

(-1, 1)

In [ ]:
# numbers[5] 벗어난 인덱스로 인덱싱 시 에러 발생

In [6]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시에는 에러가 안 남

[3]

## 1.5.원하는 요소 추출하기
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to 앞까지 step 씩 증가하는 index 값을 추출
 
        *from 생략 시 처음부터, to 생략 시 끝까지, step 생략 시 1*
        
    - 인덱스의 범위를 벗어난 값도 에러는 나지 않음
    - 인덱스는 음수도 가능
    
2. **list comprehension** : 원하는 조건의 데이터를 추출

In [9]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) # 거꾸로 출력
print(numbers[0::2]) # 짝수 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [3]:
# 모든 데이터 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# for data in numbers:
#    print(data, end='\t')
[data for data in numbers] # list comprehension

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [4]:
# 짝수 데이터만 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=' ')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [5]:
# 1. numbers에서 10 이상의 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [2]:
# 2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [4]:
# 2-1. fruits 리스트의 과일 글자 수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [7]:
# 3. 3이상인 요소들의 제곱을 추출하시오
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [8]:
# 4. 리스트 요소의 값의 2배를 추출
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6.요소 수정하기
- 인덱스 혹은 슬라이싱을 사용하여 수정

In [9]:
numbers = [0,1,2,3,4,5,6,7,8,9] 
numbers[2] = 222 # 인덱스를 사용한 수정
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# 슬라이싱(step 부분 미포함)을 사용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx'] 
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 9, 0, 9, 0, 9, 0, 9, 0]

In [13]:
# 슬라이싱(step 부분 포함)을 사용하여 부분 수정 시 요소 개수가 맞아야 함
numbers = [0,1,2,3,4,5,6,7,8,9] 
numbers = [0]*10
print('수정 전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정 후 :', numbers)

수정 전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정 후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [15]:
numbers[::2] = [1, 1] # 요소 개수 불일치!

ValueError: attempt to assign sequence of size 2 to extended slice of size 8

## 1.7.요소 삭제하기
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제됨
- pop(idx) : idx번째 요소가 반환되고 삭제됨
- remove(data) : list 안의 특정 data 삭제됨 (반환은 안 함). 없는 데이터를 삭제 시 에러 발생!
- del 리스트 변수[idx]: idx번째 요소가 삭제됨 (반환은 안 함)
- clear() : 모든 데이터를 삭제

In [21]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())
print('삭제 후 numbers :', numbers)
print('1번째 삭제한 데이터 :', numbers.pop(1))
print('1번째 삭제 후 numbers :', numbers)
print('데이터 1 삭제', numbers.remove(1))
print('데이터 1 삭제 후 numbers :', numbers)
print('del numbers[1]')
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제 None
데이터 1 삭제 후 numbers : [3, 4]
del numbers[1]
[3]

In [23]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다')

해당 데이터는 없는 item입니다

In [24]:
numbers.clear() # 모든 요소를 삭제
numbers

[]

## 1.8.(리스트)정렬하기

In [25]:
numbers = [9, 5, 0, 8, 6]
print('numbers는 변경하지 않고 정렬 결과만 :', sorted(numbers))
print('numbers :', numbers)

numbers는 변경하지 않고 정렬 결과만 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [27]:
numbers.sort() # numbers 자체가 기본 오름차순 정렬한 결과로 바뀜
print(numbers)

[0, 5, 6, 8, 9]

In [28]:
numbers.sort(reverse = True) # 내림차순 정렬한 결과로 바뀜
print(numbers)

[9, 8, 6, 5, 0]

In [30]:
numbers.reverse() # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[9, 8, 6, 5, 0]

## 1.9.리스트 복제

In [32]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f'원본i = {i},. 복사본cp_i={cp_i} / 원본 주소={id(i)}, 복사본 주소={id(cp_i)}')
cp_i = 99
print(f'원본i = {i},. 복사본cp_i={cp_i} / 원본 주소={id(i)}, 복사본 주소={id(cp_i)}')

원본i = 10,. 복사본cp_i=10 / 원본 주소=2603268309520, 복사본 주소=2603268309520
원본i = 10,. 복사본cp_i=99 / 원본 주소=2603268309520, 복사본 주소=2603268312368

In [34]:
# 데이터 구조의 할당
numbers = [5, 6, 1, 9]
new_numbers = numbers
print('원본 주소 :', id(numbers))
print('복사본 주소 :', id(numbers))
new_numbers[0] = 99
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 주소 : 2603376668288
복사본 주소 : 2603376668288
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소 : 2603376668288
복제본 주소 : 2603376668288

In [36]:
# 할당
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print('원본 :', numbers)
print('복제본 :', new_numbers)
print('원본 주소 :', id(numbers))
print('원본 주소 :', id(new_numbers))

원본 : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 주소 : 2603376747072
원본 주소 : 2603376747072

In [38]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제 (깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print('원본 :', numbers)
print('복제본 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 2603376761344
복제본 주소 : 2603376669440

In [39]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()
temp.sort()
print('정렬 전 :', city)
print('정렬 후 :', temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [40]:
temp.clear()
temp

[]

In [41]:
print(city)

['서울', '대전', '대구', '부산', '하남', '수원', '제주']

# 2. 튜플(tuple)
- 리스트([])와 유사하지만 읽기 전용이므로 수정이 필요 없는 데이터에서 사용
- 튜플에서는 데이터 수정, 추가, 삭제 불가 (따라서 복제도 의미 없음)
- 그러므로 제공되는 함수도 많지 않음
- 같은 데이터 중복 입력 가능
- 소괄호()를 사용하여 생성하며 tuple함수 사용 가능

In [43]:
# city = ('서울', '대전', '대구', '부산', '하남')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울', '대전', '대구', '부산', '하남'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [44]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능
', '.join(city)

'서울, 대전, 대구, 부산, 하남'

In [46]:
from lst import safe_index
safe_index(city, '부산')

3

In [50]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [52]:
city = ('서울') # 요소가 하나 있는 튜플(X) ->> 스트링으로 인식
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [53]:
city = ('서울', '하남')
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [55]:
city = ('서울',) # 콤마 찍으면 요소가 하나 있는 튜플(O)로 변환
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [2]:
numbers = (1, 2, 3)
# number.append(4), etc. 수정, 추가 및 삭제하기 위한 함수는 제공되지 않음

In [3]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [4]:
numbers.count(2)

1

In [5]:
numbers.index(3)

2

In [6]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [7]:
from lst import safe_index
safe_index(numbers, 4)

-1

In [12]:
numbers = (1, 4, 3, 2)
if 4 in numbers[2:]:
    numbers.index(4, 2) # index(찾을 데이터, 찾기 시작할 index = default(0))
else:
    print('데이터가 없습니다')

데이터가 없습니다

In [18]:
def safe_index(lst, item, start=0):
    '''
    첫번째 매개변수 lst : 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start : 몇 번째 index부터 찾을지 index 수(기본값:0)
    '''
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start) # start번째부터 item이 있는 index를 반환
#     else:
#         return -1

In [19]:
safe_index(numbers, 2, 2)

3

In [17]:
# 위의 if문을 조건식을 사용하여 한 줄 코드로 변경
def diff(x, y):
    return x-y if x>y else y-x # 조건식 : if문이 참일 때 취할 값 if 조건 else if문이 거짓일 때 값
#     if x>y:
#         return x-y
#     else:
#         return y-x
diff(10, 20)

10

In [21]:
numbers = (1, 2, 3)
print(numbers + numbers) #연결
print(3 * numbers) # 반복
print(numbers * 3) # 반복

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [28]:
# 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11, 2, 3, 4, 5, 6)
[num**2 for num in numbers if num % 2 == 0]
tuple(num**2 for num in numbers if num % 2 == 0)

(4, 16, 36)

# 3. 딕셔너리
- {}를 사용하여 키(key)-값(value)의 쌍으로 구성된 자료 구조
- key는 유일한 값 (중복 허용 안 됨). key에 list는 사용 불가. key를 제외한 모든 구조 사용 가능
- 값은 중복 가능. 모든 데이터 타입 가능
- 인덱스를 사용한 참조한 지원 안 됨
- key는 수정, 추가, 삭제 불가능하나 value는 가능

In [29]:
dic = {'name':'홍길동', 1:22, (1, 2):[1, 2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [30]:
len(dic) # 데이터 요소의 개수

3

In [32]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [37]:
# 변수[키] / 변수.get(키)
print(my_favorite['number'])
print(my_favorite.get('number'))

12
12

In [39]:
# print(my_favorite['people']) # 키 목록에 없는 데이터를 참조 시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 참조 시 None 반환
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조 시 '-' 반환

None
-

## 3.1.딕셔너리 item 수정, 추가, 삭제

In [63]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

# 한 item씩 추가
my_favorite['people'] = '홍길동'
my_favorite['subject'] = 'AI'
print('people 추가 후 :', my_favorite)

# 여러 item을 한꺼번에 추가 (update함수 사용)
my_favorite.update({'subject':'수학', 'major':'AI'})
print('한꺼번에 추가 후 :', my_favorite)

# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후 :', my_favorite)

# 여러 item을 한꺼번에 수정
#my_favorite.update({'fruit':'kiwi', 'number':-99})
my_favorite.update(fruit='kiwi', number=-99)
print('한꺼번에 수정 후 :', my_favorite)

# item 제거(1)
if 'subject' in my_favorite:
    del my_favorite['subject'] # subject item 제거
else:
    print('subject key가 존재하지 않습니다')
print('del로 제거(1) 후 :', my_favorite)

# item 제거(2)
if 'major' in my_favorite:
    print('pop으로 제거한 데이터 :', my_favorite.pop('major')) # major 키 값을 반환하고 제거
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

people 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}
한꺼번에 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
del로 제거(1) 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터 : AI
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

## 3.2.출력하기

In [64]:
# for문을 사용한 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [72]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print(f'{idx}번째 : {my_tuple[idx]}', end='\t')
print() # 개행
for idx, data in enumerate(my_tuple):
    print('{}번째 : {}'.format(idx, my_tuple[idx]), end='\t')

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [94]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [102]:
for data in my_dic: # 비추
#     print(data, end='\t')
    print('{} : {}'.format(data, my_dic[data]), end='\t')

name : 홍길동	age : 30	tel : 010-9999-9999

In [85]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [86]:
my_dic.values() # 값들 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [97]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [87]:
my_dic.items() # 키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [91]:
for key, value in my_dic.items():
    print('{} : {}'.format(key, value), end='\t')

name : 홍길동	age : 30	tel : 010-9999-9999

In [114]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [117]:
for no, (key, value) in enumerate(my_dic.items()):
    print('{}. {} : {}'.format(no+1, key, value))

1. name : 홍길동
2. age : 30
3. tel : 010-9999-9999

## 3.3.in 연산자

In [119]:
# tuple, list
t = (10, 20, 30)
30 in t # list, tuple, set에서의 in 연산자 : 요소(데이터/item)가 있는 여부 반환

True

In [121]:
# dictionary
dic = {'name':'홍길동', 'age':30}
print('name' in dic) # dictionary에서의 in 연산자 : 해당 key가 있는지 여부 반환

True

In [122]:
'홍길동' in dic.values()

True

## 3.4.복제하기

In [123]:
# 할당
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))

my_favorite 주소 : 1527084973184
new_favorite 주소 : 1527084973184

In [124]:
# 할당
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [125]:
# 복제(깊은 복사)
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

my_favorite 주소 : 1527086463424
new_favorite 주소 : 1527088986688
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4. 셋
- 중복을 허용하지 않는 집합 (순서 X)
- {} 또는 set()함수를 이용해서 셋 생성. ex. set([1, 2, 1]), set({'name':'홍길동'})
- 추가 : add(), update()
- 삭제 : remove()
- 집합 연산자 : 교집합(&), 합집합(|), 차집합(-)

In [ ]:
# dic = {'name':'홍길동', 'age':30}
# set = {'홍길동', 30}

In [127]:
fruits = {'banana', 'orange', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [128]:
s1 = set([1,2,3,1,1,1,1,1,1,1])
s1

{1, 2, 3}

In [129]:
s1 = set((1,2,3,1,1,1,1,1,1,1))
s1

{1, 2, 3}

In [130]:
# set함수를 사용하여 딕셔너리를 셋으로 전환할 때는 key만 적용
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 4.1.추가하기
- add() : scala 데이터나 tuple 데이터를 하나 추가. list, dic, set 유형은 add()함수 사용 불가
- update() : list, tuple, dictionary, set 요소를 하나씩 따로 추가. dictionary 사용 시 key만 추가되고 value는 버림 (vgl. extend())

In [133]:
s = {1, 2, 3}
s.add(4)
s.add('오')
s.add((6, 7))
print('add() 후 :', s) # 셋은 순서가 없음

add() 후 : {1, 2, 3, 4, '오', (6, 7)}

In [139]:
# 1이 set에 있는 상태에서 True 추가
s = {0, 1, 2, 3, 1, 1}
s.add(False) # False를 비트로 인식
s.add(True) # True를 비트로 인식
print('False 와 True add 후 :', s)

False 와 True add 후 : {0, 1, 2, 3}

In [140]:
s = {1, 2, 3}
s.update ([4, 5, 6])
s.update ({4, 5, 6})
s.update ((4, 5, 6))
print('update() 후 :', s)

update() 후 : {1, 2, 3, 4, 5, 6}

## 4.2.삭제하기

In [181]:
s = {1, 2, 3, 1, 1}
s.remove(2) # 없는 요소를 삭제할 경우 에러 발생
s

{1, 3}

In [182]:
if 5 in s:
    s.remove(5)
else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

## 4.3.집합 연산자
    &(교집합), |(합집합), -(차집합)

In [146]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 =', s1)
print('s2 =', s2)
print('s1&s2 =', s1&s2)
print('s1|s2 =', s1|s2)
print('s1-s2 =', s1-s2)
print('s2-s1 =', s2-s1)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}
s2-s1 = {6, 7}

In [152]:
names = {'길동', '길숙', '길자'}
for name in names:
    print(name)

길자
길동
길숙

# 5. enumerate
- 반복자. 반복문을 처리할 때 사용할 순서객체를 생성하는 함수
- list, tuple, dictionary, set을 for문에 사용 시

In [153]:
list(enumerate(names))

[(0, '길자'), (1, '길동'), (2, '길숙')]

In [154]:
for no, name in enumerate(names):
    print('{}. {}'.format(no+1, name))

1. 길자
2. 길동
3. 길숙

In [155]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [157]:
for idx in range(len(names)):
    print('{}. {}님의 연락처는 {}이고 {} 살아요'.format(idx+1, names[idx], tels[idx], adds[idx]))

1. 길동님의 연락처는 02-999-9999이고 서울 살아요
2. 길자님의 연락처는 02-888-8888이고 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고 하남 살아요

In [159]:
list(zip(names, tels, adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [161]:
for name, tel, add in zip(names, tels, adds):
    print('{}님의 연락처는 {}이고 {} 살아요'.format(name, tel, add))

길동님의 연락처는 02-999-9999이고 서울 살아요
길자님의 연락처는 02-888-8888이고 판교 살아요
길숙님의 연락처는 02-777-7777이고 하남 살아요

In [162]:
enumerate(zip(names, tels, adds))

In [167]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
        print('{}. {}님의 연락처는 {}이고 {} 살아요'.format(idx+1, name, tel, add))

1. 길동님의 연락처는 02-999-9999이고 서울 살아요
2. 길자님의 연락처는 02-888-8888이고 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고 하남 살아요

In [168]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [179]:
members = [] # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank': idx+1, 'name': name, 'tel': tel, 'add': add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6. 연습문제(실습형)

In [6]:
#  다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers = [1,2,3,4,5,6,7,8,9,10]

# 1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [7]:
# 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data) # numbers += data
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [8]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[:5:])

[1, 2, 3, 4, 5]

In [9]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
print(numbers[::2])

[1, 3, 5, 7, 9, 100, 300, 500]

In [12]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸세요
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[2::2] = [0]*len(numbers[2::2])
print(numbers)

[1, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [15]:
# 6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [2]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member_info = {'name':'홍길동', 'age':20, 'address':'서울시 마포구', 'score':90}
# 7. address값을 출력하세요
member_info.get('address')

'서울시 마포구'

In [3]:
# 8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요.
member_info['score']
if 'score' in member_info:
    print(member_info.pop('score'))
print(member_info)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [56]:
# 9. address를 “서울시 서대문구”로 변경하세요.
member_info['address'] = '서울시 서대문구'
print(member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구', 'score': 90}

In [118]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요.
list(member_info.values())

['홍길동', 20, '서울시 마포구', 90]

# 7. 연습문제(서술형)

In [6]:
# 1. 다음 코드를 실행했을 때 출력되는 것은?
# L1 = (“orange”,”apple”,”banana”,”kiwi”)
# new_list = [i for i in L1 if len(i)>5]
# print(new_list)

# ["orange", "banana"]

In [104]:
# 2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
# ① print(list(range(10))) - [0,1,2,3,4,5,6,7,8,9]
# ② print(list(range(5,10))) - [5,6,7,8,9]
# ③ print(list(range(10,0,-1))) - [9,8,7,6,5,4,3,2,1,0]
# ④ print(list(range(10,20,2))) – [10,12,14,16,18]

# 3번

In [23]:
# 3. 다음 구문에 의해 출력되는 것은?
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [106]:
# 4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
# numbers = [1,2,3,4,5]
# numbers.__________([10,20,30,40,50])
# numbers
# 결과 : [1,2,3,4,5,10,20,30,40,50]

# extend

In [107]:
# 5. 다음 구문을 실행할 때 결과는 ?
# numbers = list(range(10))
# numbers[ : : 2]= [0] * len(numbers[ : : 2])
# print(numbers)
# numbers = [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [10]:
# 6. 다음 구문을 실행할 때 결과는 ?
# numbers = [0,1,2,3,4,5,6,7,8,9]
# numbers[ : : 2]= numbers[5:]
# print(numbers)

# [5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [11]:
# 7. 다음 구문을 실행할 때 결과는 ?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print(numbers)

# [0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [108]:
# 8. 다음 데이터에서 10을 출력할 수 없는 구문은?
# my_dic = {“a”:10, “b”:20, “c”:30}
# ① my_dic[0]
# ② my_dic[‘a’]
# ③ list(my_dic.items())[0][1]
# ④ list(my_dic.values())[0]
# ⑤ my_dic.get(‘a’)

#1번

In [109]:
# 9. 다음 프로그램의 결과를 출력하시오
# fruits = [ ‘apple’, ‘banana’, ‘orange’]
# x, y, z = fruits
# print(x)
# print(y)
# print(z)

# apple, banana, orange

In [110]:
# 10. 다음 프로그램의 결과를 출력하시오
# fruits = [ ‘apple’, ‘banana’, ‘orange’]
# print(len(fruits))

# 3

In [111]:
# 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?
# def

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)

# ※ EXTRA

In [200]:
def safe_remove(lst, item):
    '''
    첫번째 매개변수 lst :  리스트, 셋
    두번째 매개변수 item : 리스트나 셋에서 삭제할 데이터
    '''
    if item in lst :
        lst.remove(item)
    else:
        print('삭제할 데이터가 없습니다')

In [199]:
l = [1,2,3,4,5,6]
safe_remove(l, 8)

삭제할 데이터가 없습니다

In [210]:
def lst_safe_pop(lst, index=-1):
    '''
    첫번째 매개변수 lst :  리스트
    두번째 매개변수 index : 리스트에서 삭제할 데이터의 index 수 (기본값:-1)
    '''
    if index in lst :
        return lst.pop(index)
    else:
        print('pop할 데이터가 없습니다')

In [211]:
l = [1,2,3,4,5,6]
lst_safe_pop(l, 5)

6

In [212]:
lst_safe_pop(l, 7)

pop할 데이터가 없습니다

In [1]:
def dic_safe_pop(dic, key):
    '''
    첫번째 매개변수 dic : 딕셔너리
    두번째 매개변수 key : 딕셔너리에서 삭제할 key
    '''
    return dic.pop(key) if key in dic else 'pop할 key가 없습니다'

In [2]:
dic = {'a':1, 'b':2}
dic_safe_pop(dic, 'c')

'pop할 key가 없습니다'

In [3]:
dic_safe_pop(dic, 'b')

2