In [40]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 같은 이름의 함수는 없음(overloading 불가)
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ...]): # []는 생략 가능하다는 표시임
    명령어1
    명령어2
```
# 1. 함수의 정의 및 사용
## 1.1.함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 사용 == 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2, 'Hello')
my_msg (3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [6]:
print('Hello') # 파이썬 내장 함수(import하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [7]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [8]:
my_message = 5
my_msg(2, 'Hello')

0 Hello
1 Hello

In [9]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [ ]:
del my_message # 사용자 정의 함수, 라이브러리 함수는 del(변수 및 함수 제거)하면 사용 불가

In [10]:
# 함수의 overloading 불가 (함수의 중복 정의 불가!)
def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): # cnt번 출력
    for i in range(cnt):
        print('Hello Python', end='\t')
        print('Hello World')

In [11]:
my_hello(2)

Hello Python	Hello World
Hello Python	Hello World

In [12]:
my_hello

In [13]:
__name__

'__main__'

In [14]:
if __name__ == '__main__':
    my_hello(2)

Hello Python	Hello World
Hello Python	Hello World

In [15]:
import ch05

In [16]:
ch05.my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [17]:
from ch05 import my_hello # ch05 모듈 안의 my_hello만 메모리 로드

In [18]:
my_hello

## 1.2.docstring

In [19]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있음
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출 시 shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [20]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있음
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출 시 shift+tab으로 독스트링을 볼 수 있음)

In [21]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
        n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반댓말 : 전역변수); 지역변수는 함수 안에서만 사용 가능
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [22]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

## 1.3.지역변수(local variable)와 전역변수(global variable)

In [23]:
global_var = 100
def func1():
    print('함수 안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [24]:
def func2():
    local_var = 200 # 지역변수(함수 내에서 할당)
    print('함수 안 :', local_var )
func2()

함수 안 : 200

In [25]:
#print('함수 밖에서 지역변수 :', local_var) #에러 발생

In [26]:
g_var = 100 #전역변수
def func3():
    g_var = 200 # 지역변수(함수 내에서 할당)
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [27]:
# lexical 특성 : 변수가 어디서 선언되었는지 그 위치에 따라 변수의 범위(local vs global)가 정해짐
# g_var = 100 #전역변수
# def func3():
#     print('지역변수 g_var :', g_var)
#     g_var = 200 # 지역변수(함수 내에서 할당) 
# func3()
# print('전역변수 g_var :', g_var)
#에러 발생함

In [28]:
# lexical 특성
g_var = 100 #전역변수
def func3():
    global g_var # '함수 안에서 g_var는 전역변수를 쓰겠다'
    print('전역변수 g_var :', g_var)
    g_var = 200 # 전역변수 g_var에 200 할당
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4.값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [29]:
foo = 'a' #전역변수
id(foo)

2509325166384

In [30]:
def func1(f): #매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3
    print('After :', f, '의 주소는 ', id(f))
func1(foo)

Before : a 의 주소는  2509325166384
After : aaa 의 주소는  2509396510000

In [31]:
print('foo =', foo, '의 주소는', id(foo))

foo = a 의 주소는 2509325166384

## 1.5.참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체(데이터 프레임, 배열 등)일 경우

In [32]:
L = [1, 2, 3, 4, 5]
id(L)

2509423338944

In [33]:
def func2(l): # 매개변수는 지역변수
    print('Before :', l, '의 주소는 ', id(l))
    l.append(6)
    print('After :', l, '의 주소는 ', id(l))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  2509423338944
After : [1, 2, 3, 4, 5, 6] 의 주소는  2509423338944

In [34]:
print('L =', L, '의 주소는', id(L)) # 리스트 등을 값에 의한 호출을 하고 원본은 그대로 두고 싶은 경우 복제를 실행

L = [1, 2, 3, 4, 5, 6] 의 주소는 2509423338944

# 2. 함수의 실행 결과를 반환하는 return

In [35]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
        n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반댓말 : 전역변수); 지역변수는 함수 안에서만 사용 가능
    while a < n:
        print(a, end=' ') # 출력
        a, b = b, a+b
    print() # 개행
    
def fibonacci(n):
    '''
    n미만의 피보나치 수열을 리스트로 return
    '''
    result = [] # 피보나치 수열을 append할 리스트
    a, b = 0, 1
    while a < n:
        result.append(a) # 리스트에 append
        a, b = b, a+b
    return result

In [36]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [37]:
x = fibonacci_print(10)
print('x =', x)
print(type(x))

0 1 1 2 3 5 8
x = None
<class 'NoneType'>

### 여러 개의 값을 return
- 여러 개의 값을 갖는 튜플로 return

In [38]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a # return (b, a)

In [39]:
x = 5; y = 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x, y)

함수 실행 전 x, y = 5 10
함수 실행 후 x, y = 10 5

# 3. 함수의 매개변수 ★
## 3.1.기본값을 갖는 매개변수

In [40]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수 순으로 배치
    return 'http://{}:{}'.format(ip, port)

In [41]:
print(make_url('localhost', 8090))
print(make_url('www.naver.com'))
print(make_url(port=9090, ip='localhost'))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

## 3.2.기본변수를 기본값으로 갖는 매개변수
- 기본변수가 스칼라 변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [42]:
i = 80
# 기본변수가 스칼라 변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return 'http://{}:{}'.format(ip, port)

In [43]:
i = 90
make_url('localhost')

'http://localhost:80'

In [44]:
list_ = []
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [45]:
print(func3(20))

[10, 20]

In [46]:
print(func3(30))

[10, 20, 30]

In [47]:
# 실행할 때마다 L을 공유하는 게 싫으면 기본값을 상수로 가져올 것
def func3(a, L=None):
    if L is None: # None은 is로 비교
        L = []
    L.append(a)
    return L
print(func3(10))
print(func3(20))

[10]
[20]

## 3.3.순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달하는 방식
- 키워드인수 : 인수의 이름을 명시하여 전달하는 방식
- 함수 정의 시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [48]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [49]:
lst = []
print(func3(10, lst)) # 순서인수 : 함수 정의된 순서대로 전달하는 방식(s. o.)
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4.튜플 매개변수를 이용한 가변인수 설정 ★
- 가변인수 : 매개변수의 개수가 가변

In [50]:
# 파이썬은 함수의 중복 정의(overloading)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [51]:
add(3, 5, 2)

10

In [52]:
# args 앞에 * : args가 튜플로 전달된다
def add(*args):
    # print('args =', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum + num
    return sum

In [53]:
print(add())
print(add(1))
print(add(1, 3))
add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

0
1
4

55

In [54]:
subject = ('Python', 'HTML/CSS', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-DBMS'

In [55]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때 
def concat(*subject, sep): # concat << concatenate
    return sep.join(subject)

In [56]:
concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', '-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [57]:
# 해결책1 : 파라미터 매개변수 이름을 지정해서 호출하는 방법
concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', sep='-')

'Python-HTML/CSS-JavaScript-DBMS'

In [58]:
# 해결책2 : 기본값을 갖는 키워드인수를 사용하는 방법 
def concat(*subject, sep=' ~ '): # 튜플 매개변수 > 키워드인수 순으로 
    return sep.join(subject)
print(concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS'))
print(concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', sep='-'))

Python ~ HTML/CSS ~ JavaScript ~ DBMS
Python-HTML/CSS-JavaScript-DBMS

In [59]:
# 해결책3 ★(강추!) : sep을 순서인수로 앞으로 선언하는 방법! 순서인수 > 튜플 매개변수 > 키워드인수
def concat(sep, *subject):
    return sep.join(subject)

In [60]:
concat('~', 'Python', 'Web', 'DB', 'MLDL')

'Python~Web~DB~MLDL'

## 3.5.딕셔너리 매개변수★
- 딕셔너리 인수 : 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [61]:
def func5(**kwargs): # **args : 딕셔너리 매개변수(딕셔너리로 전달받음)
    print('이름 :', args.get('name', '몰라'))
    print('나이 :', args.get('age', 30))
    print('전화 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 관악')) # 데이터 시각화 등을 위해 나중에 필요!

In [62]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    if 'address' not in kwargs: # args에 address키가 없으면 if문 True
        kwargs['address'] = '서울시 관악구' # args.update({'address' : '서울시 관악구'}) | args.update(address='서울시 관악구')
    for key, value in kwargs.items():
        print('{} : {}'.format(key, value))

In [63]:
func5(name='홍길동', age=30, tel='010-9999-9999')

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-9999-9999
address : 서울시 관악구

## 3.6.함수 정의 시 매개변수의 순서★
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [64]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [65]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,'a','b',True, name='홍', age=30, address='신림')

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', True)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [66]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c, *d, e=10, **f ):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본갑=10) e = ', e)
    print('딕셔너리인수 f = ', f)

In [67]:
func7(10, 20, 30, e=100)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본갑=10) e =  100
딕셔너리인수 f =  {}

In [68]:
func7(10, 20, 30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본갑=10) e =  10
딕셔너리인수 f =  {}

In [69]:
func7(10, 20, 30, 1,2,3,4,5,6,7,8,9,10, e=100, shape='rect', width=20, height=30 )

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
키워드인수(기본갑=10) e =  100
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7.인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출 시 이미 패킹된 리스트나 튜플을 풀기 위해 매개변수 앞에 *를 붙임 
- 패킹 : 함수 정의 시 매개변수 앞에 *를 붙임(튜플 매개변수)

In [70]:
# packing
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [71]:
add(1, 2, 3)

6

In [72]:
# unpacking
numbers = [1, 2, 3]
add(*numbers)

6

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출 시 이미 패킹된 딕셔너리를 풀기 위해 매개변수 앞에 **를 붙임 
- 패킹 : 함수 정의 시 매개변수 앞에 **를 붙임(딕셔너리 매개변수)

In [73]:
# packing
def func8(**data):
    for item in data.items():
        print(item)

In [74]:
func8(shape='rect', width=40, height=30)

('shape', 'rect')
('width', 40)
('height', 30)

In [75]:
# unpacking
info = {'shape':'rect', 'width':40, 'height':30}
func8(**info)

('shape', 'rect')
('width', 40)
('height', 30)

# 4. lambda식★
- return 한 줄짜리 작은 익명함수
## 4.1.lambda식 연습

In [76]:
def add(a, b):
    return a+b
print(add(3, 5))
print(type(add))

8
<class 'function'>

In [77]:
add2 = lambda a, b : a + b # 변수에 할당 : lambda 함수의 인수(들) : return 값
print(add2(3, 5))
print(type(add2))

8
<class 'function'>

In [78]:
# ex 1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만드시오
def even_odd_ck (num):
#     if num % 2:
#         result = '홀수'
#     else:
#         result = '짝수'
    return '홀수' if num % 2 else '짝수'
even_odd_ck(3)

'홀수'

In [2]:
even_odd_ck = lambda num : '홀수' if num % 2 else '짝수'
even_odd_ck(5), even_odd_ck(-4)

('홀수', '짝수')

In [3]:
# ex 2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만드시오 
def diff(a, b):
    if a<b:
        diff = b-a
    else:
        diff = a-b
    return diff
diff(3, 8)

5

In [4]:
diff2 = lambda a, b : b-a if a<b else a-b
diff2(3, 10)

7

In [13]:
# ex 3. 매개변수로 잔액을 받아 잔액이 0이상이면 잔액을 return, 음수면 'negative'를 return
Kontostand = lambda balance : balance if balance >=0 else 'negative'
Kontostand(1000), Kontostand(-100)

(1000, 'negative')

In [28]:
# ex 4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험', 100점 초과, 0점 미만은 '유효하지 않음'을 return
def levelCk(score):
    if 80<=score<=100:
        result = 'A팀'
    elif 60<=score<80:
        result = 'B팀'
    elif 0<=score<60:
        result = '재시험'
    else:
        return '유효하지 않음'
niveauCK = lambda score : 'A팀' if 80<=score<=100 else \
                          'B팀' if 60<=score<80 else \
                          '재시험' if 0<=score<60 else \
                          '유효하지 않음'
print(niveauCK(100))
print(niveauCK(79))
print(niveauCK(0))
print(niveauCK(120))

A팀
B팀
재시험
유효하지 않음

In [32]:
# ex 5. 점수를 입력받아 학점을 return
score_grade = lambda score : 'A학점' if 90<=score<=100 else \
                             'B학점' if 80<=score<90 else \
                             'C학점' if 70<=score<80 else \
                             'D학점' if 60<=score<70 else \
                             '유효하지 않은 점수'
score_grade(87)

'B학점'

In [35]:
# ex 5. safe_index 함수를 람다식으로 바꾸시오
def safe_index(lst, item, start=0):
    '''
    첫번째 매개변수 lst : 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start : 몇 번째 index부터 찾을지 index 수(기본값:0)
    '''
ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else '-1'
l = [1,2,3,4,5]
ex5(l, 3)

2

In [36]:
# lambda식을 list에 들어가게끔 할 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations): # a, b의 연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result
act_operations(20, 5)

[25, 15, 100, 4.0]

In [37]:
act_operations(8, 2, [lambda x,y:x**y, lambda x,y:10*x+y])

[64, 82]

In [38]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [39]:
act_operations(8, 2) # 기본값을 갖는 변수(기본변수)가 리스트면 기본값은 호출하는 시점에 다시 정해짐

[10, 6, 16, 4.0, 64]

## 4.2.함수의 매개변수(인수)에 람다식 사용★
- 람다식을 주로 사용하는 곳(빈도 순으로) : 함수의 매개변수 > return문 > 변수에 할당
### (1) map★

In [40]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [41]:
list_data = [1,2,3,4,5,6,7,8,9]
def x_2(x):
    return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [42]:
map_template(lambda x:x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [43]:
# list comprehension
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [45]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [46]:
for data in map(lambda x:x*2, list_data):
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

In [59]:
# 예제 1 . prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']를 [5000,5000,6000,1000, ...] 식으로 바꾸시오.
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
    return int(value.replace(',', ''))
toint('5,000')

5000

In [57]:
map(lambda value : int(value.replace(',', '')), prices) 
prices_int = map(lambda value : int(value.replace(',', '')), prices)

In [58]:
for price in prices_int:
    print(price, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [54]:
list(map(lambda value : int(value.replace(',', '')), prices))

[5000, 5000, 6000, 1000, 5000, 5000, 6000, 1000]

In [110]:
# 예제 2. 
# members1 = [{'name':'홍길동', 'birth':'2000-01-01’}, {'name':'신길동', 'birth':'1995-12-18'}]를 
# members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1}, {'name':'신길동', 'year':1995, 'month':12, 'day':18}]으로 변환

members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'}]

def split_date(date):
    split_date = date.split('-')
    return {'year': int(split_date[0]),
            'month': int(split_date[1]),
            'day' : int(split_date[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [96]:
def split_date(date):
    return{
        'year': int(date.split('-')[0]),
        'month': int(date.split('-')[1]),
        'day' : int(date.split('-')[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [97]:

def member_preprocessing(member):
    return {'name' : member.get('name', '이름없음'), # member['name']
            'year' : int(member.get('birth').split('-')[0]),
            'month' : int(member.get('birth').split('-')[1]),
            'day' : int(member.get('birth').split('-')[2])
    }
member_preprocessing(members1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [98]:
members2 = list(map(lambda member : {
                                'name' : member.get('name', '이름없음'),
                                'year' : int(member.get('birth').split('-')[0]),
                                'month' : int(member.get('birth').split('-')[1]),
                                'day' : int(member.get('birth').split('-')[2])
    }, members1))
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [102]:
# 예제 3. members2를 members1로 전환
# members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1}, {'name':'신길동', 'year':1995, 'month':12, 'day':18}
# members1 = [{'name':'홍길동', 'birth':'2000-01-01’}, {'name':'신길동', 'birth':'1995-12-18'},]으로 변환
def join_date(data):
    return '{}-{:02}-{:02}'.format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2000, 'month':1, 'day':1})

'2000-01-01'

In [103]:
def join_date(data):
    return '{year}-{month:02}-{day:02}'.format(year=data.get('year'), month=data.get('month'), day=data.get('day'))
join_date({'year':2000, 'month':1, 'day':1})

'2000-01-01'

In [105]:
def join_date(data):
    return {'birth' : '{year}-{month:02}-{day:02}'.format(**data)} # 딕셔너리 매개변수
join_date({'year':2000, 'month':1, 'day':1})

{'birth': '2000-01-01'}

In [107]:
# {'name':'홍길동', 'year':2000, 'month':1,'day':1} => {'name':'홍길동', 'birth':'2000-01-01’}
def members_preprocessing(member):
    return {
        'name': member.get('name'),
        'birth': '{year}-{month:02}-{day:02}'.format(**member)}
members_preprocessing({'name':'홍길동', 'year':2000, 'month':1,'day':1})

{'name': '홍길동', 'birth': '2000-01-01'}

In [109]:
list(map(lambda member : {
        'name': member.get('name'),
        'birth': '{year}-{month:02}-{day:02}'.format(**member)}, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [2]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [3]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_CK(value):
    return value % 2
filter_template(lambda value : value%2, list_data)

[1, 3, 5, 7, 9]

In [7]:
[value for value in list_data if value%2==1]

[1, 3, 5, 7, 9]

In [9]:
filter(lambda value : value%2, list_data)
print(list(filter(lambda value : value%2, list_data)))

[1, 3, 5, 7, 9]

In [16]:
# ex : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter, list comprehension)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]
[value for value in L if value == round(value)]

[1, 3.0, 100, -2.0]

In [17]:
list(filter(lambda value : value == round(value), L))

[1, 3.0, 100, -2.0]

In [18]:
sorted(list(filter(lambda value : value == round(value), L)))

[-2.0, 1, 3.0, 100]

### (3) sort

In [21]:
p = [10, 3, 6, 1]
p.sort(reverse=True)
p

[10, 6, 3, 1]

In [22]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [24]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data : data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [37]:
# 합이 큰 순으로 정렬
numbers_2d = [(9,9), (1, 100), (10,1)]
numbers_2d.sort(key=lambda items : sum(items), reverse=True)
numbers_2d

[(1, 100), (9, 9), (10, 1)]

In [43]:
students = [{'name':'홍', 'score':99},
            {'name':'김', 'score':50},
            {'name':'박', 'score':77},
            {'score':100},]

In [44]:
name_select = lambda data : data.get('name')
name_select({'name':' 홍', 'score':99})

' 홍'

In [49]:
# students를 name순으로 정렬 (ㄱㄴㄷ순)
students.sort(key=lambda data : data.get('name', '힣')) # 대체값
students

[{'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99},
 {'score': 100}]

In [53]:
# students를 score 큰 순으로 정렬
students.sort(key=lambda data : data.get('score', 0), reverse=True) # 대체값은 여기서는 option!
students

[{'score': 100},
 {'name': '홍', 'score': 99},
 {'name': '박', 'score': 77},
 {'name': '김', 'score': 50}]

In [56]:
# 예제 4 : books 정렬(no, title, price)
books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [57]:
books.sort(key=lambda data : data.get('no'))
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [60]:
books.sort(key=lambda data : data.get('writer'))
books

[{'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

In [58]:
books.sort(key=lambda data : data.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [61]:
# 30200, '12,000', '5000', ㅁ', None => 숫자로 처리 (entsprechend 30200, 12000, 5000, 0, 0)

In [72]:
def parse_int(price):
    if isinstance(price, str) and price.replace(',', '').isdigit(): # 앞에 것이 False면 뒤를 실행하지 않음 (and 논리 연산자)
        return int(price.replace(',', ''))
    elif isinstance(price, int):
        return price
    else:
        return 0
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

parse_price = lambda price : int(price.replace(',', '')) if isinstance(price, str) and price.replace(',', '').isdigit() else\
                             price                       if isinstance(price, int) else\
                             0
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

12000 30200 0 0
12000 30200 0 0

In [74]:
parse_price = lambda book : int(book.get('price').replace(',', '')) if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit() else\
                             book.get('price')                       if isinstance(book.get('price'), int) else\
                             0
parse_price({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200})

30200

In [78]:
books.sort(key=parse_price)
books

[{'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200}]

In [79]:
books.sort(key=parse_price, reverse=True)
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

In [84]:
copyBooks = books.copy()
copyBooks.sort(key=parse_price)
copyBooks

[{'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200}]

# 5. 파이썬 내장 함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while, ...)처럼 간주되므로 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [86]:
a = 10

In [87]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '# 1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요\ndef get_max_min(*args):\n    for i in args:\n        return \nget_max_min = lambda i : ',
  'def filter_template(func, L=[]):\n    result = []\n    for item in L:\n        if func(item):\n            result.append(item)\n    return result',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef odd_CK(value):\n    return value % 2\nfilter_template(lambda value : value%2, list_data)',
  '[value%2 for value in list_data]',
  '[value%2==1 for value in list_data]',
  '[value%2!=0 for value in list_data]',
  '[value for value in list_data if value%2==1]',
  'filter(lambda value : value%2, list_data)',
  'filter(lambda value : value%2, list_data)\nprint(list(filter(lambda value : value%2, list_data)))',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100]\nvalue for vaule in L if value == round()',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100]\nvalue for vaule in L if value == round(value)',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\nvalue for vaule in L if value == round()',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for vaule in L if value == round()]',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for value in L if value == round()]',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for value in L if value == round(ralue)]',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for value in L if value == round(value)]',
  'list(filter(lambda value : value == round(value), L))',
  'sorted(list(filter(lambda value : value == round(value), L)))',
  '# 7. \nex = [1,2,3,4,5] #를 [1,4,9,16,25] # 의 결과를 얻을 수 있도록 람다 함수와 map() 함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오\nprint([ex**2 for ex in ex])\nlist(map(lambda value : value ** 2, ex))',
  'p = [10, 3, 6, 1]\np.sort(reverse=True)\n0\\p',
  'p = [10, 3, 6, 1]\np.sort(reverse=True)\np',
  "# 무조건 0번째 item을 기준으로 오름차순 정렬\npairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]\npairs.sort()\npairs",
  '# 1번째 item 기준으로 내림차순 정렬\npairs.sort(key=lambda data : data[1], reverse=True)',
  '# 1번째 item 기준으로 내림차순 정렬\npairs.sort(key=lambda data : data[1], reverse=True)\npairs',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data), numbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data), numbers_2d)',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data))',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(*ata))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(*data))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(sum)))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(sum))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(sum(data)))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum([0],[1]))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(max(sum)))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(max(sum))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda items : sum(items), reverse=True)\nnumbers_2d',
  "name_select = lambda data : data.get('name')\nname_select({'name':' 홍', 'score':99})",
  "# students를 name순으로 정렬 (ㄱㄴㄷ순)\nstudents.sort(key=lambda data : data.get('name'))",
  "students = [{'name':' 홍', 'score':99},\n            {'name':' 김', 'score':50},\n            {'name':' 박', 'score':77},\n            {'score':100},]",
  "name_select = lambda data : data.get('name')\nname_select({'name':' 홍', 'score':99})",
  "# students를 name순으로 정렬 (ㄱㄴㄷ순)\nstudents.sort(key=lambda data : data.get('name'))",
  "students = [{'name':'홍', 'score':99},\n            {'name':'김', 'score':50},\n            {'name':'박', 'score':77},\n            {'score':100},]",
  "name_select = lambda data : data.get('name')\nname_select({'name':' 홍', 'score':99})",
  "# students를 name순으로 정렬 (ㄱㄴㄷ순)\nstudents.sort(key=lambda data : data.get('name'))",
  "# students를 name순으로 정렬 (ㄱㄴㄷ순)\nstudents.sort(key=lambda name : students.get('name'))",
  "# students를 name순으로 정렬 (ㄱㄴㄷ순)\nstudents.sort(key=lambda name : data.get('name', '힣')\nstudents",
  "# students를 name순으로 정렬 (ㄱㄴㄷ순)\nstudents.sort(key=lambda name : data.get('name', '힣'))\nstudents",
  "# students를 name순으로 정렬 (ㄱㄴㄷ순)\nstudents.sort(key=lambda data : data.get('name', '힣'))\nstudents",
  "# students를 score 큰 순으로 정렬\nstudents.sort(key=lambda data : data.get('score', reverse=True))\nstudents",
  "# students를 score 큰 순으로 정렬\nstudents.sort(key=lambda data : data.get('score', reverse=True))\nstudents",
  "# students를 score 큰 순으로 정렬\nstudents.sort(key=lambda data : data.get('score'), reverse=True))\nstudents",
  "# students를 score 큰 순으로 정렬\nstudents.sort(key=lambda data : data.get('score'), reverse=True)\nstudents",
  "# 예제 4 : books 정렬()\nbooks = \\\n   [{'no':1, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},\n    {'no':2, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},\n    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},\n    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},\n    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},\n    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]",
  "books.sort(key=lambda data : data.get('no'))\nbooks",
  "# 예제 4 : books 정렬(no, title, price)\nbooks = \\\n   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},\n    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},\n    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},\n    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},\n    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},\n    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]",
  "books.sort(key=lambda data : data.get('no'))\nbooks",
  "books.sort(key=lambda data : data.get('title'))\nbooks",
  "books.sort(key=lambda data : data.get('writer'))",
  "books.sort(key=lambda data : data.get('writer'))\nbooks",
  "# 30200, '12,000', 'ㅁ', None ",
  "def parse_int(price):\n    print(type(price))\n    parse_int('12,000')",
  'def parse_int(price):\n    print(type(price))\nparse_int(None)',
  "def parse_int(price):\n    print(type(price))\nparse_int('ㅁ')",
  "def parse_int(price):\n    if isinstance(price, str) and price.replace(',', '').isdigit(): # 앞에 것이 False면 뒤를 실행하지 않음 (and 논리 연산자)\n        return int(price.replace(',', ''))",
  "def parse_int(price):\n    if isinstance(price, str) and price.replace(',', '').isdigit(): # 앞에 것이 False면 뒤를 실행하지 않음 (and 논리 연산자)\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0\nprint(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))",
  "def parse_int(price):\n    if isinstance(price, str) and price.replace(',', '').isdigit(): # 앞에 것이 False면 뒤를 실행하지 않음 (and 논리 연산자)\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0\nprint(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))\n\nparse_price = lambda price : int(price.replace(',', '')) if isinstance(price, str) and price.replace(',', '').isdigit()\\\n                  price                    elif isinstance(price, int) else 0",
  "def parse_int(price):\n    if isinstance(price, str) and price.replace(',', '').isdigit(): # 앞에 것이 False면 뒤를 실행하지 않음 (and 논리 연산자)\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0\nprint(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))\n\nparse_price = lambda price : int(price.replace(',', '')) if isinstance(price, str) and price.replace(',', '').isdigit()\\\n                             price                       elif isinstance(price, int) else 0",
  "def parse_int(price):\n    if isinstance(price, str) and price.replace(',', '').isdigit(): # 앞에 것이 False면 뒤를 실행하지 않음 (and 논리 연산자)\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0\nprint(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))\n\nparse_price = lambda price : int(price.replace(',', '')) if isinstance(price, str) and price.replace(',', '').isdigit() else\\\n                             price                       if isinstance(price, int) else\\\n                             0",
  "books.sort(key=lambda data : data.get('price'))",
  'books.sort(parse_price)',
  "def parse_int(price):\n    if isinstance(price, str) and price.replace(',', '').isdigit(): # 앞에 것이 False면 뒤를 실행하지 않음 (and 논리 연산자)\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0\nprint(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))\n\nparse_price = lambda price : int(price.replace(',', '')) if isinstance(price, str) and price.replace(',', '').isdigit() else\\\n                             price                       if isinstance(price, int) else\\\n                             0\nprint(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))",
  "parse_price = lambda book : int(book.get('price').replace(',', '')) if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit() else\\\n                             price                       if isinstance(book.get('price'), int) else\\\n                             0\nparse_price({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200})",
  "parse_price = lambda book : int(book.get('price').replace(',', '')) if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit() else\\\n                             book.get('price')                       if isinstance(book.get('price'), int) else\\\n                             0\nparse_price({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200})",
  'books.sort(key=parse_price)',
  'books.sort(key=parse_price)\nbooks',
  'books.sort(key=parse_price, reverse=True)\nbooks',
  'books.sort(key=parse_price)\nbooks',
  'books.sort(key=parse_price, reverse=True)\nbooks',
  'copyBook = books.copy()\ncopyBooks',
  'copyBooks = books.copy()\ncopyBooks',
  'copyBooks = books.copy()\ncopyBooks.sort()',
  'copyBooks = books.copy()\ncopyBooks.sort(key=parse_price)',
  'copyBooks = books.copy()\ncopyBooks.sort(key=parse_price)\ncopyBooks',
  "# 9. 다음 코드의 실행 결과는?\ndate_info = {'year':2024, 'month':9, 'day':6}\nresult = '{year}-{month}-{day}'.format(**date_info)\nresult",
  'a = 10',
  'globals() # 전역변수 리스트'],
 '_oh': {3: [1, 3, 5, 7, 9],
  4: [1, 0, 1, 0, 1, 0, 1, 0, 1],
  5: [True, False, True, False, True, False, True, False, True],
  6: [True, False, True, False, True, False, True, False, True],
  7: [1, 3, 5, 7, 9],
  8: <filter at 0x24fc8f1ce50>,
  16: [1, 3.0, 100, -2.0],
  17: [1, 3.0, 100, -2.0],
  18: [-2.0, 1, 3.0, 100],
  19: [1, 4, 9, 16, 25],
  21: [10, 6, 3, 1],
  22: [(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')],
  24: [(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')],
  28: [(10, 1), (9, 9), (1, 100)],
  37: [(1, 100), (9, 9), (10, 1)],
  38: ' 홍',
  41: ' 홍',
  44: ' 홍',
  49: [{'score': 100},
   {'name': '홍', 'score': 99},
   {'name': '박', 'score': 77},
   {'name': '김', 'score': 50}],
  53: [{'score': 100},
   {'name': '홍', 'score': 99},
   {'name': '박', 'score': 77},
   {'name': '김', 'score': 50}],
  55: [{'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
   {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'}],
  57: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  58: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  60: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  74: 30200,
  76: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  77: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  78: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  79: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  81: [{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}],
  84: [{'no': 6, 'title': '가격이없음', 'writer': '이길동'},
   {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
   {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
   {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
   {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
   {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200}],
  85: '2024-9-6'},
 '_dh': [WindowsPath('C:/KI/source/01_python')],
 'In': ['',
  '# 1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요\ndef get_max_min(*args):\n    for i in args:\n        return \nget_max_min = lambda i : ',
  'def filter_template(func, L=[]):\n    result = []\n    for item in L:\n        if func(item):\n            result.append(item)\n    return result',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef odd_CK(value):\n    return value % 2\nfilter_template(lambda value : value%2, list_data)',
  '[value%2 for value in list_data]',
  '[value%2==1 for value in list_data]',
  '[value%2!=0 for value in list_data]',
  '[value for value in list_data if value%2==1]',
  'filter(lambda value : value%2, list_data)',
  'filter(lambda value : value%2, list_data)\nprint(list(filter(lambda value : value%2, list_data)))',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100]\nvalue for vaule in L if value == round()',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100]\nvalue for vaule in L if value == round(value)',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\nvalue for vaule in L if value == round()',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for vaule in L if value == round()]',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for value in L if value == round()]',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for value in L if value == round(ralue)]',
  '# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter)\nL = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]\n[value for value in L if value == round(value)]',
  'list(filter(lambda value : value == round(value), L))',
  'sorted(list(filter(lambda value : value == round(value), L)))',
  '# 7. \nex = [1,2,3,4,5] #를 [1,4,9,16,25] # 의 결과를 얻을 수 있도록 람다 함수와 map() 함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오\nprint([ex**2 for ex in ex])\nlist(map(lambda value : value ** 2, ex))',
  'p = [10, 3, 6, 1]\np.sort(reverse=True)\n0\\p',
  'p = [10, 3, 6, 1]\np.sort(reverse=True)\np',
  "# 무조건 0번째 item을 기준으로 오름차순 정렬\npairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]\npairs.sort()\npairs",
  '# 1번째 item 기준으로 내림차순 정렬\npairs.sort(key=lambda data : data[1], reverse=True)',
  '# 1번째 item 기준으로 내림차순 정렬\npairs.sort(key=lambda data : data[1], reverse=True)\npairs',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data), numbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data), numbers_2d)',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data))',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(data))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(*ata))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : sum(*data))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(sum)))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(sum))\nnumbers_2d',
  '# 합이 큰 순으로 정렬\nnumbers_2d = [(9,9), (1, 100), (10,1)]\nnumbers_2d.sort(key=lambda data : data(sum(data)))\nnumbers_2d',

In [88]:
all([True, True, True, False]) # 모든 요소가 다 True인지 여부를 반환

False

# 연습문제(실습형)

In [39]:
# 1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
def get_max_min(data_list):
    import sys
    min_, max_ = sys.maxsize, -sys.maxsize
    for data in data_list:
        if data==round(data):
            if min_> data:
                min_ = data
            if max_ < data:
                max_ = data
    return {"최대값": max(data_list), "최소값": min(data_list)}

data_list = [1,2,3,4]
get_max_min(data_list)

{'최대값': 4, '최소값': 1}

In [114]:
# 2. 체질량 지수 (Body Mass Index, BMI) 는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다 . 
# 함수의 인자로 체중 (kg) 과 신장 (m) 를 입력받은 후 BMI 값에 따라 
# '마른 체형', '표준, '비만', '고도비만' 중 하나의 상태를 출력하는 함수를 구현해 보세요

# • getBMI (kg, m):
# • BMI 지수 = 체중 (kg) / 신장 (m) 의 제곱
# • BMI<18.5 : 마른체형
# • 18.5<=BMI<25 : 표준
# • 25<=BMI<30 : 비만
# • BMI >=30 고도비만

def bmi():
    weight = float(input('몸무게를 입력하세요(kg) : '))
    height = float(input('신장을 미터(m)로 입력하세요 : '))
    if weight / (height**2) < 18.5:
        print('마른 체형입니다')
    elif 18.5 <= weight / (height**2) < 25:
        print('표준입니다')
    elif 25 <= weight / (height**2) < 30:
        print('고도 비만입니다')

In [8]:
bmi()

몸무게를 입력하세요(kg) : 80
신장을 미터(m)로 입력하세요 : 1.8
표준입니다

In [9]:
# 3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
# 리턴값은 면적과 둘레를 return 하도록 구현하세요
# • math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
def get_triangle():
    import math
    width = float(input('밑변의 길이를 입력하세요 : '))
    height = float(input('높이를 입력하세요 : '))
    area = (width * height) / 2
    perimeter = math.sqrt((width**2) + (height**2)) + width + height
    return '면적은 {}'.format(area), '둘레는 {}'.format(perimeter)

In [10]:
get_triangle()

밑변의 길이를 입력하세요 : 3
높이를 입력하세요 : 4

('면적은 6.0', '둘레는 12.0')

In [11]:
# 4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
def mysum(fRom, end):
    sum = 0
    for i in range(fRom, end+1):
        sum += i
    return sum

In [12]:
mysum(1, 4)

10

In [34]:
# 5. 함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# • 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘ 가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘ Jej ’]
test = ['Seoul', 'Deagu', 'Kwangju', 'Jeju']
def get_abbrs(list_):
    return [x[:3] for x in list_]

print(get_abbrs(test)) # 일반 함수 이용
print((lambda l : [x[:3] for x in l])(test)) #람다식 이용

['Seo', 'Dea', 'Kwa', 'Jej']
['Seo', 'Dea', 'Kwa', 'Jej']

In [15]:
lambda x : x[:3]

In [81]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
def f(x, y):
    return x ** y
Q = lambda x, y : x ** y
Q(4, 7)

16384

In [19]:
# 7. 
ex = [1,2,3,4,5] #를 [1,4,9,16,25] # 의 결과를 얻을 수 있도록 람다 함수와 map() 함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
print([ex**2 for ex in ex])
list(map(lambda value : value ** 2, ex))

[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
# 8. 다음 코드를 각각 실행하면 서로 다른 결과가 나온다 . 이런 결과가 나오는 이유를 서술하시오
# 언팩킹

In [85]:
# 9. 다음 코드의 실행 결과는?
date_info = {'year':2024, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
result

'2024-9-6'

In [20]:
# 10. n 개의 벡터(리스트나 튜플, 셋 등)들의 크기가 같은지 여부를 return 하는 vector_size_check(*vector_var)를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.
def vector_size_check(*vector_var):
    # print(vector_var)
    result = set()
    for vector in vector_var:
        result.add(len(vector))
    return len(result)==1

def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1

print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,2)))
print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,)))

True
False

In [21]:
vector_size_check = lambda *vector_var :  \
        len(set([len(vector) for vector in vector_var]))==1

print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,2)))
print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,)))

True
False

In [22]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플 , 셋등 벡터에 곱하는 코드를 작성하시오(단 입력되는 벡터의 크기는 일정하지 않음).
def scalar_vector_product(num, vector):
    return [num*v for v in vector]

# def scalar_vector_product(x, lst): # 메일 받은 내용
    #return list(map(lambda num : num*x, lst)) 

scalar_vector_product = lambda num, vector : [num*v for v in vector]

scalar_vector_product(10, [1,2,3,4])

[10, 20, 30, 40]

# 연습문제(서술형)

In [18]:
# 1. 다음 코드의 실행 결과는?
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key=lambda pair: pair[1])
pairs

#답 : 2번

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [38]:
# 2. 오류가 발생하는 라인을 찾고 문제 해결을 위한 코드를 작성하여 실행 결과를 쓰세요
a = 10
def sub():
    global a # 문제해결을 위한 코드 (전역변수로 설정)
    a += 1
    print(a, end='(sub함수에서 출력) ')    
def func():
    for i in range(2):
        a = 5 # 지역변수
        a += 1
        print(a, end='(func함수에서 출력) ')
        sub()
        
a += 1
func()

6(func함수에서 출력) 12(sub함수에서 출력) 6(func함수에서 출력) 13(sub함수에서 출력)

In [19]:
# 3. 다음 구문을 실행한 결과는?
var = 100
def func(var):
    var = 200
func(var)
print(var)

100

In [20]:
# 4. 다음 구문의 실행 결과는?
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [21]:
# 5. 다음 구문의 실행 결과는?
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [22]:
# 6. 파이썬 함수에 대한 설명 중 잘못된 것은?
# 답 : 1번

In [23]:
# 7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
# 답 : 4번

In [79]:
# 8. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요(영문 소문자로 쓰세요).
# lambda